@use "../../styles/variables";

.landing {
    background-color: variables.$black-transparent;
    height: calc(100vh - 63px);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: variables.$blue-blurry;
    &__title {
        font-size: 3em;
    }
    &__introduction {
        font-size: 1.4rem;
    }
}

.post_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    margin: 30px 0;
    font-weight: 400;
}