@use "../../styles/variables";

section {
    margin-bottom: 40px;
}

h3 {
    text-align: center;
    margin: 10px;
    font-weight: 400;
}

.landing {
    background-color: variables.$black-transparent;
    width: 100vw;
    height: 92vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    >*{
        font-weight: 400;
    };
    h2 {
        margin: 80px 0 20px 0;  
        font-size: 2em;
    }
    p {
        margin: 20px 0;
        font-size: 1.2rem;
    }
    button {
        margin: 80px auto 0 auto;
        width: 14rem;
    }
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$black-transparent;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 95vw;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_form * {
    border-radius: 3px;
    width: 100%;
    margin: 10px;
    padding: 15px;
    border: none
}

.contact_form *:focus {
    outline: none; /* Pour supprimer la bordure d'accentuation */
  }

.contact_form button {
    background: rgb(23, 16, 74);
    color: white;
    width: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}