@use "../../styles/variables";

h3 {
    text-align: center;
    margin: 20px;
    font-weight: 400;
}

.landing {
    background-color: variables.$black-transparent;
    width: 100vw;
    height: 92vh;
    padding: 20px;
    display: flex;
    flex-direction: column;

    >*{
        font-weight: 400;
    };
    h2 {
        margin: 80px 0 20px 0;  
        font-size: 2em;
    }
    p {
        margin: 20px 0;
        font-size: 1.2rem;
    }
    button {
        margin: 80px auto 0 auto;
        width: 14rem;
    }
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}