.header {
    display: flex;
    border: 1px solid black;
    width: 100vw;
    height: 63px;
    background-color: rgba(16, 18, 39, 0.37);
}

.title {
    font-size: 18px;
    color: white;
    margin:auto 0;
    margin-left: 1rem;

}