@use "../../styles/variables";

.footer {
    font-family: variables.$secondary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: variables.$blue-blurry;
    width: 100vw;
    height: 10rem;
    background-color: black
}

.footer__text {
    font-size: 18px;
    color: white;
}